
<table style="width:90% ">
  <thead>
    <tr>
      <th></th>
      <th>
        <h1 style="">Thanks for signing up for email updates!</h1>
      </th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th>
        <h3 style="">We'll keep you updated with the progress of our site.</h3>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>
      </td>
      <td>

        <table>
          <tbody>

            <tr>
              <td style="width: 10%;"> </td>
              <td>

                <p style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; ">
                  Thanks for registering your email with us! We'll send you periodic updates on the progress of our site and other minor updates such as when we post a new  article on our blog. We highly recommend that you also <a href="apollostore.co/signup">sign up</a> for an account with us. This will let you get the most up-to-date news from our site and let you customize your email notifications.
                </p>
                <p style=" font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; ">
                  If you want to learn more about our goals and our plans for the future, head over to our blog and read some of the articles that we've posted. We've got a variety of subjects to read about, and we think that they are all important and relevant to what we want to achieve at Apollo. If you want to know more about our goals and our mission, check out this <a href="apollostore.co/blog/article/4" >article</a>.
                </p>

              </td>
            </tr>

            <tr>
              <td style="width: 10%;"> </td>
              <td>
                If you like what we're doing here, share us on social media with the links below
              </td>
            </tr>



            <tr >
              <td style="width: 10%;" ></td>

              <td>
                  Thanks again, <em>The Team at Apollo</em>
              </td>

              <td></td>
            </tr>

            <tr>
              <td style="width: 10%;"> </td>
              <td>
                  <a
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=check%20out%20this%20new%20ecommerce%20startup!%20https%3A%2F%2Fwww.apollostore.co/store"
                    style="padding-left:10px;"
                  >
                    Twitter
                  </a>
                  <a
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=check%20out%20this%20new%20ecommerce%20startup!%20https%3A%2F%2Fwww.apollostore.co/store"
                    style="padding-left:10px;"
                  >
                    Reddit
                  </a>
                  <a
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=check%20out%20this%20new%20ecommerce%20startup!%20https%3A%2F%2Fwww.apollostore.co/store"
                    style="padding-left:10px;"
                  >
                    LinkedIn
                  </a>
                  <a
                    target="_blank"
                    href="https://twitter.com/intent/tweet?text=check%20out%20this%20new%20ecommerce%20startup!%20https%3A%2F%2Fwww.apollostore.co/store"
                    style="padding-left:10px;"
                  >
                    Email
                  </a>
                </td>
            </tr>


          </tbody>
        </table>

      </td>

      <td>
      </td>

    </tr>

    <tr style="height : 20% ;">
      <td  >

      </td>

      <td>
      </td>

      <td></td>

    </tr>




  </tbody>

</table>
